html,
body,
#root {
  min-height: 100%;
  margin: 0;
  padding: 0;
  flex: auto;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}
* {
  box-sizing: border-box;
}

html {
  background: black;
}
body {
  background: grey;
}
#root {
  background: silver;
}
